.aside {
  padding-top: 0px;
  @media (max-width:1199px) {
    display: none;
  }
    
  &__title {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    text-align: center;
    
    margin: 0 0 30px;

    @media screen and (min-width:1200px) {
      font-size: 36px;  
      margin: 0 0 50px;
    }

  }
    
}




