.holder {
    background: #F5F4FA;

    &__title {
     font-weight: 700;
     font-size: 28px;
     line-height: 1.17;
     text-align: center;
    
     margin: 0 0 50px;

     @media screen and (min-width:1200px) {
            font-size: 36px;
        }
    }
}

