.logo {
    font-family: 'Raleway';
    font-size: 26px;
    line-height: 1.19;
    color: #000000;
    text-decoration: none;
    width: 145px;

    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;
}