.menu-photo {
    text-align: center;
    justify-content: center;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;  

    &__comment {
     padding-top: 30px;
     padding-bottom: 16px;
    }
    
    &__name {
     font-weight: 500;
     font-size: 16px;
     line-height: 1.19;
     text-align: center;
    
     margin: 0 0 10px;
    }
    
    &__text {
     font-size: 16px;
     line-height: 1.19;
     text-align: center;
     color: #757575;
    
     margin-bottom: 0px;
  }
    &__img {
      width: 100%;
    }
}

.menu-photo__list {
    width: 450px;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    
  @media screen and (min-width:768px) {
    width: 354px;
    flex-basis:calc((100% - 30px)/2);
  } 

  @media screen and (min-width:1200px) {
    width: 270px;
    flex-basis: calc((100% - 90px)/4);
  }

}
