.social-icon__menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.social-icon__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    fill: #AFB1B8;
    background-color: #FFFFFF;
    border-radius: 50%;

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
            fill: var(--header-background);
            background-color: var(--hover-color);
    }
}

