.menu-subject {
    @media screen and (min-width:768px) {
        display: flex;
        flex-wrap: wrap;  
        gap: 30px;      
    }
}
.menu-subject__lead { 
    @media screen and (min-width:768px){
        flex-basis: calc((100% - 30px)/2);
    }

    @media screen and (min-width:1200px) {
        flex-basis: calc((100% - 90px)/4);
    } 
}

.specifics__box {    
    
    height: 120px;
    background: #F5F4FA;
    border-radius: 4px;    
    margin-bottom: 30px; 
   
}

.specifics__icons {    
    display: block;
    margin: auto;
    height: 100%;
    width: 100%;
    padding: 25px 100px;
    
}
.specifics__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
     
    margin: 0 0 10px;
    
    @media screen and (max-width:479px){
        text-align: center;
    }    
}

.specifics__content {
    font-size: 14px;
    line-height: 1.71;
    color: #757575;
    margin-bottom: 0px;
}