.menu-subject {
 
   @media screen and (min-width:768px) {
        display: flex;
        flex-wrap: wrap;
    }
}
.menu-subject__lead {
 width: 450px;
 margin: 15px;
             
 @media screen and (min-width:768px) {     
       
     width: calc(
        (100%-2*15px)/2
        );          
    }
 @media screen and (min-width:1200px) {
     width: calc((100%-4*15px)/4);
    }
}

.specifics__box {    

    background: #F5F4FA;
    border-radius: 4px;    
    margin-bottom: 30px; 
}

.specifics__icons {    
    display: block;
    margin: auto;
    height: 100%;
    width: 100%;
    padding: 25px 190px;
    
 @media screen and (min-width:768px){
    padding: 25px 142px;
 }

 @media screen and (min-width:1200px) {
     padding: 25px 100px;
 }

}

.specifics__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    margin: 0 0 10px;

    @media screen and(max-width:479px) {
        align-items:center;        
    }
}

.specifics__content {
    font-size: 14px;
    line-height: 1.71;
    color: #757575;
    margin-bottom: 0px;
}